### IntelliJ IDEA ###
.idea/
*.iws
*.iml
*.ipr

### VS Code ###
.vscode/

### Build output ###
target/
build/

### Logs and local env ###
*.log
.env

### Local service configs with secrets ###
Inventory-Service/src/main/resources/application.properties
Order-Service/src/main/resources/application.properties
Discovery-Service/src/main/resources/application.properties
API-Gateway/src/main/resources/application.yml
Auth-Service/src/main/resources/application.properties
Config-Server/src/main/resources/application.yml